/* Carousel container */
.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Carousel slides container */
.carousel-slides {
  display: flex; /* Align slides horizontally */
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Smooth transition on button click */
}

/* Individual slide */
.slide {
  min-width: 100%; /* Each slide takes full width of the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 50%;
}

.slide .carousel-text {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.c-inner-div {
  width: 70%;
  height: auto !important;
  text-align: left;
  margin-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slide .carousel-text .c-inner-div h3 {
  font-size: 2rem;
  font-weight: 700;

  font-family: "Roboto", sans-serif;
  text-wrap: wrap;
}

.slide .carousel-text .c-inner-div p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
  text-wrap: wrap;
}

.carousel-btn-indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 0.2rem;
}

.c-inner-number {
  /* background-color:#f2f2f2; */
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  z-index: 10;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 2rem !important;
  text-align: center;
  line-height: 0.8;
  margin-bottom: 2rem;
}

/* Left and right navigation buttons */
.carousel-btn {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 1.2rem;
  text-align: center;
}

.carousel-btn:hover {
  color: rgba(0, 0, 0, 1);
  border: 1px solid black;
}

.btn-left {
  margin-right: 0.5rem;
}

/* Indicators at the bottom of the carousel */
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: auto !important;
  height: auto !important;
  padding: 0.2rem;
}

/* Each individual indicator */
.indicator {
  width: 20px;
  height: 11px;
  background-color: #c2c2c2;
  border-radius: 50%;
  cursor: pointer;
  flex: 1;
  transition: all 0.3s ease;
}

/* Red color for active indicator */
.indicator.active {
  width: 10px;
  height: 10px;
  background-color: #eb7a14;
  flex: 3;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .carousel-container{
    margin: 0 !important;
  }
  .slide {
    flex-direction: column;
  }
  .slide .carousel-text {
    justify-content: center;
    width: 100%;
  }
  .slide img {
    width: 100%;
  }
  .c-inner-div {
    width: 100%;
    text-align: center;
    margin-left: 0rem;
    padding: 0.5rem;
    position: relative;
  }
  .carousel-btn {
    width: 50px !important;
    height: 50px !important;
  }
  .carousel-btn-indicator-container {
    width: 100%;
    margin-top: 2rem;
  }

  .c-inner-number{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
  }

}
