.center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack-area {
    width: 100%;
    height: 300vh; /* Enough height to allow for scrolling */
    position: relative;
    display: flex;
    justify-content: center;
}

.stack-right {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
}

.stack-cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.stack-card {
    width: 980px;
    height: 400px;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 35mm;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease-in-out; 
    overflow: hidden;
}

.sub{
    width: 40%;
}

.content{
    width: 60%;
}


.transparent-circle{
    width: 100%;
    height: 13.6%;
    transform: rotate(90deg);
    position: relative;
    right:12%;
}

.stack-card:nth-child(1) {
    background: linear-gradient(to right, #ffb905, #f43f06);
    z-index: 4;
}
.stack-card:nth-child(2) {
    background: linear-gradient(to right, #ffb905, #f43f06);
    z-index: 3;
}
.stack-card:nth-child(3) {
     background: linear-gradient(to right, #ffb905, #f43f06);
    z-index: 2;
}
