.center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack-area {
    width: 100%;
    height: 300vh; /* Enough height to allow for scrolling */
    position: relative;
    display: flex;
    justify-content: center;
}

.stack-right {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
}

.stack-cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.stack-card {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    padding: 35px;
    border-radius: 6mm;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease-in-out; 
}

.stack-card:nth-child(1) {
    background: blue;
    z-index: 4;
}
.stack-card:nth-child(2) {
    background: rgb(117, 117, 189);
    z-index: 3;
}
.stack-card:nth-child(3) {
    background: rgb(116, 116, 197);
    z-index: 2;
}
