@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.sticky-main-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sticky-container{
    background: #f2f2f2;
    position: fixed;
    bottom: 3rem;
    display: flex;
    width: 90%;
    z-index: 999;
    pointer-events: auto;
    border-radius: 12.5rem;
    justify-content: space-between;
    align-items: center;
    padding: .875rem 1.5rem .875rem 3rem;
    display: flex;
    box-shadow: 0 2px 5px #0003;
}

.sticky-container p {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #de5b11;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.sticky-btn{
    background-color:#f43f06;
    color: #f2f2f2;
    text-transform: uppercase;
    background-image: none;
    border-radius: 1rem;
    padding: .5rem 4rem;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: background-color .2s;
    border: none;
    outline: none;
}

.sticky-btn:hover{
    background-color: #ffce00;
    color: black;
}

@media (max-width: 992px){
    .sticky-container p{
        font-size: .7rem;
    } 
    .sticky-btn{
        font-size: .9rem;
    }
}